html {
    margin: auto;
}

body {
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    background-color: #444;
    display: grid;
    grid-template-areas: 'rack control';
    grid-template-columns: auto 400px;

}

h2 {
    display: inline-block;
    margin-left: 32px;
}

#coffeecup {
    width: 64px;
    height: 64px;
    padding-top: 30px;
    padding-left: 165px;
}

#module_rack {
    grid-area: rack;
    height: 100vh;
    overflow-y: auto;
}

#control_pannel {
    grid-area:  control;
    height: 100vh;
    position:sticky;
    overflow: hidden;
    background-image: url("../img/controlpannel.svg");
    background-size: contain;
}

#add_module_pannel, #remove_module_pannel {
    margin-left: 32px;
}

canvas[id=oscilloscope] {
    height: 100px;
    width: 100px;
}

div[id^=osc_core] {
    display: block;
    float: left;
    height: 350px;
    width: 200px;
    background-color: darkolivegreen;
}

input[id^=freq_]{
    display: block;
    float: none;
    margin: 10px 7px;
}

div[id^=LFO] {
    display: block;
    float: left;
    height: 350px;
    width: 175px;
    background-color: blueviolet;
}

div[id^=Filter] {
    display: block;
    float: left;
    height: 350px;
    width: 175px;
    background-color: firebrick;
}

div[id^=distortion] {
    display: block;
    float: left;
    height: 350px;
    width: 175px;
    background-color: yellowgreen;
}

div[id^=vca] {
    display: block;
    float: left;
    height: 350px;
    width: 175px;
    background-color: deeppink;
}

label {
    width: 100%;
    margin: 5px 5px;
    font-size: 12px;
    display: block;
}

#playButton, #pauseButton {
    background-color: #444;
    width: 128px;
    height: 128px;
    margin-top: 210%;
    margin-right: -30px;
    margin-left: 50px;
}