html {
    margin: auto;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    background-color: #444;
}

#coffeecup {
    width: 64px;
    height: 64px;
}

#oscilloscope {
    height: 100px;
    width: 100px;
}

div[id^=osc_core] {
    display: block;
    float: left;
    height: 350px;
    width: 175px;
    background-color: darkolivegreen;
}

input[id^=freq_]{
    display: block;
    float: none;
    margin: 10px 7px;
}