<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modular Synth</title>
        <link rel="shortcut icon" type="image/gif" href="/img/Coffee32.gif">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">     
        <link href="/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div id="module_rack">
            <p>Module Rack</p>
        </div>
        <div id="control_pannel">
            <img id="coffeecup" src="/img/Coffee32.gif" alt="coffee cup with steam"/>
            <h2>Control Panel</h2>

            <label for="add_module_select">Add Modules</label>
            <select id="add_module_select" name="add_module_select">
                <option value="oscillators">Oscillator Panel</option>
                <option value="lfo">LFO</option>
                <option value="filter">Filter</option>
                <option value="distortions">Distortion</option>
            </select>
            <button id="add_module" type="button">Add Module</button>
            
            <label for="remove_module_select">Remove Modules</label>
            <select id="remove_module_select" name="remove_module_select">
            </select>
            <button id="remove_module" type="button">Remove Module</button>

            <label for="add_preset">Select a Preset</label>
            <select id="add_preset" name="add_preset"></select>

            <button id="play" type="button">Play</button>
            <button id="pause" type="button">Pause</button>
        </div>
    </body>
    <footer>
        <script src="/js/audio.js"></script>
        <script src="/js/presets.js"></script>
    </footer>
</html>